.transparent-header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  margin-left: 200px; 

  .brand-logo {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #3E64FF;
    text-decoration: none;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;

    ul li {
      display: inline-block;
      margin-left: 25px;

      &:first-child {
        margin-left: 50px; 
      }

      a {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #737373;
        text-decoration: none;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
