<header class="custom-header">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Cogitare</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Início</a></li>
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
      <div class="search-bar" *ngIf="!searchBarHidden">
        <i class="material-icons">search</i>
        <input type="text" placeholder="Buscar pacientes">
      </div>
    </div>
  </nav>
</header>