.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    max-width: 600px;
  }
  
  .btn {
    background-color: #3e64ff;
  }
  
  label {
    font-weight: normal;
  }
  
  tr {
    background-color: #737373;
  }
  
  p {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #737373;
    text-decoration: none;
  }