<div class="container">
  <form class="col s12" #pacienteForm="ngForm" (submit)="onSubmit()">

    <div class="row">
      <div class="input-field col s12">
        <input 
        id="nome_completo" 
        type="text"
        name = "name" 
        class="validate"
        [(ngModel)]="paciente.name"
        pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
        required
        >
        <label for="nome_completo" class="active">Nome completo</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="data_nascimento" type="text" class="datepicker">
        <label for="data_nascimento" class="active">Data de Nascimento</label>
      </div>
    </div>    

    <div class="row">
      <div class="col s12">
        <p>Gênero:</p>
        <div class="radio-buttons">
          <label>
            <input class="with-gap" name="genre" type="radio" [(ngModel)]="paciente.genre" value="feminino" />
            <span>Feminino</span>
          </label>
          <label>
            <input class="with-gap" name="genre" type="radio" [(ngModel)]="paciente.genre" value="masculino" />
            <span>Masculino</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input 
        id="prontuario" 
        name = "recordNumber" 
        type="text" 
        class="validate"
        [(ngModel)]="paciente.recordNumber"
        required
        >
        <label for="prontuario" class="active">Prontuário</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input 
        id="unidade-internacao" 
        name = "unit" 
        type="text" 
        class="validate"
        [(ngModel)]="paciente.unit"
        pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
        required
        >
        <label for="unidade-internacao" class="active">Unidade de Internação</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <button type="submit" [disabled]="!pacienteForm.valid" #submitButton class="btn waves-effect waves-light">Registrar</button>
      </div>
    </div>
  </form>
</div>
