<div class="container">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="nome_completo" type="text" class="validate">
        <label for="nome_completo" class="active">Nome completo</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="data_nascimento" type="text" class="datepicker">
        <label for="data_nascimento" class="active">Data de Nascimento</label>
      </div>
    </div>    

    <div class="row">
      <div class="col s12">
        <p>Gênero:</p>
        <div class="radio-buttons">
          <label>
            <input class="with-gap" name="genero" type="radio" value="feminino" />
            <span>Feminino</span>
          </label>
          <label>
            <input class="with-gap" name="genero" type="radio" value="masculino" />
            <span>Masculino</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="prontuario" type="text" class="validate">
        <label for="prontuario" class="active">Prontuário</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="unidade-internacao" type="text" class="validate">
        <label for="unidade-internacao" class="active">Unidade de Internação</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <a routerLink="/editar"><button class="btn waves-effect waves-light">Registrar</button></a>
      </div>
    </div>
  </form>
</div>
